html {
  background-color: rgba(44, 62, 80,1.0);
  color: rgba(189, 195, 199,1.0);
}

div.title-box {
  margin: auto;
  text-align: center;
  margin: 2rem 0 1rem 0;
}

div.title-box span.cute-bs {
  font-size: 1.15rem;
}

.main {
  width: 65%;
  margin: auto;
  padding-bottom: 2rem;
  background-color: rgb(57, 80, 104);
  box-shadow: 10px 5px 5px rgb(25, 35, 46);
}

.flex-box {
  display: flex;
}

.row,
.date-pickers {
  padding-top: 1.5rem;
}

.row {
  width: 80%;
  margin: 0 auto;
}


.date-pickers {
  justify-content: space-around;
}

.num-input {
  width: 6rem;
}

